asgiref==3.4.0
click==8.0.1
colorama==0.4.4
fastapi==0.65.2
h11==0.12.0
pydantic==1.8.2
starlette==0.14.2
typing-extensions==3.10.0.0
uvicorn==0.14.0
alembic==1.7.7
python-dotenv==0.20.0
psycopg2==2.9.3
FastAPI-SQLAlchemy==0.2.1
passlib==1.7.4
starlette-prometheus==0.9.0
requests==2.28.1
pytest==7.1.2
